.about {
    background-image: url(../../images/20220702_114613-removebg-preview.png);
    background-size: 66%;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:grey;

    .container {
        
        .abuot-info {
            font-size: 25px;

            @media(max-width:425px){
                font-size: 22px;
            }          
        }

        .info-continiue {
            font-size: 25px;

            a {
                font-size: 18px;
                color: orange;
                text-decoration: none;         
            }

            @media(max-width:425px){
                font-size: 21px;
            } 
        }
    }  

    @media(max-width:425px){
        background-size: 100%;
        background-position: 100px;
        background-repeat: no-repeat;
        background-attachment: fixed;        
    }
}
