@mixin texts {
    color: white;
    background-color: #c44a4a;
    padding: 2px;
    border-radius: 5px;    
}

.title {
    font-size: 30px;
}

.form {
    width: fit-content;
    margin: 0 auto;
    position: relative;

    input[type=text] {
        padding: 8px 15px;
        outline: none;
        border-radius: 6px;
        border: none;
        background-color: #ebebeb;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 19px;
    }

    button {
        border-radius: 6px;
        background-color: #ebebeb;
        border: 1px solid #848080;
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px;
    }
}

.weather {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    margin: 0 auto;
    margin-top: 50px!important;
    user-select: none;

    .city {
        display: flex;
        justify-content: space-between;

        &-left {
            &-name {
                margin-bottom: 0;
                font-size: 18px;
            }
            &-date {
                color: #dcd9d9;
                font-size: 15px;
            }
        }

        &-right {
            p {
                text-align: end;
                margin-bottom: 7px;
                color:  #dcd9d9;

                span {
                    @include texts;
                }
            }
        }
        
    }

    .main-temp {
        display: flex;

        .temp {
            font-size: 70px;
            font-weight: 400;
        }

        .icon {
            display: flex;
            align-items: center;

            img {
                width: 90px;
            }
        }

        .feels {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .description {
                margin-bottom: 5px;

            }

            &-text {
                color: #dcd9d9;
                background-color:#c44a4a;
                padding: 3px;
                border-radius: 5px;
                .feels-temp {
                    color: white;
                }
            }
        }
    }
    .secondary-info {
        display: flex;

        p {
            padding: 5px 10px;
        }
    }
    .info-for-five-day {
        display: flex;
        .one-day {
            width: fit-content;
            margin: 0 auto;
            background-color: #acacac8a;
            border-radius: 5px;
            padding: 5px 10px;

            &-date {
                margin-bottom: 2px;
                text-align: center;
                color: #534d4d;
                background-color: rgb(235 235 235);
                border-radius: 3px;
                border: 1px solid grey;
                font-size: 15px;
                font-weight: normal;

            }

            &-temp {
                margin-bottom: 5px;
            }

            &-humidity {
                margin: 5px 0;
                font-size: 14px;
                text-align: center;
                color: #3f3d3d;
            }
        }
    }
}