.main-Card {
    opacity: 1;
    width: 320px;
    animation: big 1s;
    margin-top: 50px;
 
    @keyframes big {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }        
    }
}


.border {
    border: 1px solid white;
}


