.contact {
    background-image: url(../../images/20220702_114613-removebg-preview.png);
    background-size: 66%;
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:grey;
}