.App {
    background-color: black;
    color: white;
}

@media(max-width:425px){
    .App {
        /* background-size: 100%;
        background-position: 100px;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    }
}
