.memoryGame {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    margin: 0 auto;

    .item {
        width: 150px;
        height: 150px;
        margin:1px;
        border: 1px solid white;
        cursor: pointer;
        transition: filter .6s;
        

        @media(max-width:425px) {
            width: 90px;
            height: 90px;
        }
        @media(max-width:375px) {
            width: 85px;
            height: 85px;
        }
        @media(max-width:320px) {
            width: 75px;
            height: 75px;
        }
    }

    .disabled {
        pointer-events: none;
    }

    .filter {
        filter:grayscale(2)
    }

    @media(max-width:425px) {
        width: 370px;
    }
    @media(max-width:375px) {
        width: 350px;
    }
    @media(max-width:320px) {
        width: 310px;
    }
}
