.memoryGame {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    margin: 0 auto;

    .item {
        width: 150px;
        height: 150px;
        margin:1px;
        border: 1px solid white;
        cursor: pointer;
        transition: filter .6s;
    }

    .disabled {
        pointer-events: none;
    }
    .filter {
        filter:grayscale(2)
    }

}
